body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, midnightblue, black);
    color: white;
}

img {
    width: 625px;
    height: 300px;
    
}

.slider {
    margin:auto;
    overflow: hidden;
}

.slides {
    transition: transform 1s ease-in-out;
    display: flex;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

h2 {
    margin-left: 205px;
    text-shadow: 0px 3px black;
    margin-bottom: 0px;
}

h4 {
    margin-left: 20px;    
    
}

div {
    height: 350px;
    width: 650px;
}


span {
    color: white;
    font-size: 20px;
}

p {
    color: lightgreen;
    margin-left: 125px;
    margin-top: -10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background: radial-gradient(circle, rgb(0, 0, 250), midnightblue);
    width: 550px;
    margin: auto;
    border-radius: 25px;
}

.click {
    background-color: aqua;
    color: black;

}

a {
    display: inline-block;
    flex: 0 0 40%;
    font-size: 20px;
    font-family: "Shafarik", serif;
    font-style: normal;
    width: 200px;
    color: white;
    background-color: darkviolet;
    border: 2px solid white;
    border-radius: 17px;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    transition: background-color 0.5s ease; 
}

a:hover{
    background-color: blueviolet;
}